<% provide(:title, 'Help') %>
  <h1>Help</h1>
  <p>Get help on the Ruby on Rails Tutorial at the <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
To get help on this sample app, see the <a href="http://railstutorial.org/book">Rails Tutorial book</a>.</p>
<p>Totally confused?  I (Ruthan) am learning Ruby on Rails so I can go be a programmer!  This is a sample app I am writing, not some random spam.  The tute comes highly recommended!  At least if you, like me, are wont to pump your fists and do a happy dance whenever a command executes the way it's supposed to.</p>
